html { 
    margin: 0;
    padding: 0;
    background: url(../img/com.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .addbox{
    width: 320px;
    height: 550px;
    background: rgba(255, 255, 255, 0.7);
    color: #000;
    top: 50%;
    left: 30%;
    position: absolute ;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 10px;
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.addbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.addbox input{
    width: 100%;
    margin-bottom: 20px;
}

.addbox input[type="text"], input[type="password"], input[type = "email"],input[type = "number"]
{
    border: none;
    border-bottom: 1px solid #000;
    background: transparent;
    outline: none;
    height: 40px;
    color: #000;
    font-size: 16px;
}


.addbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #03cbfd;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.addbox input[type="submit"]:hover
{
    cursor: pointer;
    background:#3ee776 ;
    color: #000;
}

.list{
    width: 320px;
    height: 550px;
    background: rgba(255, 255, 255, 0.7);
    color: #fff;
    top: 50%;
    left: 70%;
    position: absolute ;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 10px;
}
