html { 
    margin: 0;
    padding: 0;
    background: url(../img/com.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: sans-serif;
  }

  .formbox1 p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
  h1{
    margin: 0;
    padding: 0 0 20px;
    /* text-align: center; */
    font-size: 22px;
}
  .formbox{
    width: 320px;
    height: 510px;
    background: rgba(255, 255, 255, 0.7);
    color: #000;
    top: 50%;
    left: 30%;
    position: absolute ;
    transform: translate(-50%,-300px);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius:10px;
}

.formbox input[type="text"], input[type="number"]
{
    border: none;
    border-bottom: 1px solid #000;
    background: transparent;
    outline: none;
    height: 40px;
    color: #000;
    font-size: 16px;
}

.formbox1 input[type="text"], input[type="number"]
{
    border: none;
    border-bottom: 1px solid #000;
    background: transparent;
    outline: none;
    height: 40px;
    color: #000;
    font-size: 16px;
    text-align: center;
}



.formbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #03cbfd;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.formbox1{
    width: 320px;
    /* height: 510px; */
    background: rgba(255, 255, 255, 0.7);
    color: rgb(0, 0, 0);
    top: 50%;
    left: 70%;
    position: absolute ;
    transform: translate(-50%,-300px);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius:10px;

}
.formbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    
    background: #03cbfd;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    padding: 0 90px;
}

.formbox input[type="submit"]:hover
{
    cursor: pointer;
    background:#29914b ;
    color: #000;
}

.formbox1 input[type="submit"] 
{
    border: none;
    outline: none;
    height: 40px;
    
    background: #03cbfd;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    padding: 0 90px;
}

.formbox1 input[type="submit"]:hover
{
    cursor: pointer;
    background:#29914b ;
    color: #000;
}

.blue
{
    border: none;
    outline: none;
     height: 40px;
    background: #03cbfd;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    padding: 0 90px ;
    /*display: inline;*/
}
button:hover{
    cursor: pointer;
    background:#29914b ;
    color: #000;

}
