.blue
{
    border: none;
    outline: none;
     height: 40px;
    background: #03cbfd;
    color: #000;
    font-size: 18px;
    border-radius: 20px;
    padding: 0 90px ;
    width: 250px;
    /*display: inline;*/
}
button:hover{
    cursor: pointer;
    background:#c8e73e ;
    color: #000;

}

a{
    font-size: 25px;
    color: #000;
    text-decoration: none;
}
a:hover
{
    color:#29914b;
}
html { 
    margin: 0;
    padding: 0;
    background: url(../img/com.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

.dashbox{
    width: 320px;
    height: 510px;
    background: rgba(255, 255, 255, 0.7);
    color: #fff;
    top: 50%;
    left: 10%;
    position: absolute ;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 10px;
}
.dashbox1{
    width: 900px;
    height: 510px;
    background: rgba(255, 255, 255, 0.9);
    color: #000;
    top: 50%;
    left: 60%;
    position: absolute ;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 10px;
}