

body { 
    margin: 0;
    padding: 0;
    background: url(../img/com.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: sans-serif;
  }


  .logo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}
.registerbox{
    width: 60%;
    border-radius:10px;
    height: 500px;
    background: rgba(255, 255, 255, 0.8);
    color: #000;
    top: 50%;
    left: 50%;
    bottom: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.registerbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.registerbox input{
    width: 100%;
    margin-bottom: 20px;
}

.registerbox input[type="text"], input[type="password"], input[type = "email"],input[type = "number"]
{
    border: none;
    border-bottom: 1px solid #000;
    background: transparent;
    outline: none;
    height: 40px;
    color: #000;
    font-size: 16px;
}

.registerbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #03cbfd;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.registerbox input[type="submit"]:hover
{
    cursor: pointer;
    background:#c8e73e ;
    color: #000;
}
